@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.block{
  background-color: #E7E9EB;
  color: #11293B;
  @apply rounded-[25px] p-[10px] font-semibold;
}

input[type=text]:focus {
  border: 1px solid inherit;
  outline: none !important;
}

select:focus{
  border: 1px solid inherit;
  outline: none !important;
}