@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input[type=text]:focus {
  border: 1px solid inherit;
  outline: none !important;
}

select:focus{
  border: 1px solid inherit;
  outline: none !important;
}

/* Start my mixins */

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.block{
  cursor: pointer;
  background-color: #E7E9EB;
  color: #11293B;
  @apply rounded-[25px] p-[10px] font-semibold;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  height: min-content;
}

/* End my mixins */
/* Start swiper classes */

.swiper{
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.swiper-container{
  border-radius: 24px;
  background-color: #FFE2B5;
}

.swiper__arrowGroup{
  position: relative;
  top: -55%;
}

.pagination-container{
  position: relative;
  top: -50%;
  padding: 10px;
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pagination__item{
  cursor: pointer;
  transition: 0.4s;
  background-color: inherit;
  border-radius: 10px;
  border: 2px solid #fff;
}

.pagination__item:hover{
  transition: 0.4s;
  background-color: #FDC20B;
}

.pagination__item_active{
  background-color: #FDC20B;
  border-radius: 10px;
  border: 2px solid #fff;
}

.pagination__interval{
 transition: 0.2s;
  height: 5px;
  background-color: #1F3445;
  border-radius: 20px;
}

.pagination__interval__item{
  width: 65px;
  height: 5px;
  border-radius: 20px;
  background-color: #C3B396;
}
/* End swiper classes */
/* Start goods classes */

.good__colourItem{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  transition: 0.4s;
}
.good__colourItem:hover{
  transition: 0.4s;
  border: 1px solid #000;
}
.good__colourItem_active{
  border: 1px solid #000;
}
.goodEvent{
  color: #fff;
  width: 70px;
  height: 30px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.goodEvent_hot{
  background-color: #0077FF;
}
.goodEvent_new{
  background-color: #E76300;
}
/* End goods classes */
.currency{
  position: absolute;
  top: 3.5%;
  right: 7%;
}